logs
target
bin
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.cache-main
/.cache-tests
/.sbtserver
/.scalastyle
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
project/eclipse.sbt
conf/local.conf

.sonar/
